html {
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'Lato', sans-serif;
}

#container {
  display: block;
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 6rem 2rem 0 2rem;
}

/* header section */
header {
  background-color: #820933;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-family: "Anton", sans-serif;
  position: fixed;
  width: 97%;
}

header .mobile-icons {
  display: none;
}

header a {
  font-family: "Anton", sans-serif;
}

header img {
  height: 2.5rem;
  color: #fdfffc;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  font-size: 1.5rem;
  color: #fdfffc;
}

header strong {
  font-weight: 300;
}

header span {
  color: black;
}

header ul li {
  display: inline;
  color: #fdfffc;
  margin-left: .5rem;
  margin-right: .5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

header a {
  text-decoration: none;
}

header ul li:hover {
  color: #8f9491;
  text-decoration-color: #8f9491;
  text-decoration: underline;
}

/* banner section  */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ebd4cb;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner img {
  width: 56%;
  height: 100%;
  margin: 2rem 0;
}

.banner div {
  margin: 2rem 2rem;
  width: 34%;
}

.banner h1 {
  font-size: 3rem;
  font-family: "Anton", sans-serif;
  margin-bottom: 1.5rem;
  color: #36213e;
}

.banner h3 {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem;
  color: #36213e;
}

.banner h4 {
  background-color: #820933;
  text-align: center;
  padding: .5rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem;
  color: #fdfffc;
  font-size: 1.25rem;
  width: 80%;
}

.banner h4:hover {
  background-color: #8f9491;
}


/* orientation section */
.orientation {
  display: flex;
  background-color: #fdfffc;
  width: auto;
  padding: 2rem 2rem;
}

.orientation .first-column {
  width: 60%;
  height: 100%;
}

.first-column h2 {
  font-family: "Anton", sans-serif;
  color: #36213e;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.first-column img {
  width: 100%;
  height: auto;
}

.first-column p {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  color: #36213e;
  padding: 1rem 0;
}

.first-column h4 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #36213e;
}

.first-column, .second-column {
  display: flex;
  flex-direction: column;
}

.second-column img {
  width: 35%;
  height: 100%;
  margin: 1rem;
}

.orientation-mobile {
  display: none;
}

.second-column {
  padding: 0;
  border: 1px solid #e8d7ff;
  width: 40%;
  height: 100%;
  margin: 0 0 0 1.5rem;
}

.orientation-info {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e8d7ff;
}

.orientation-info:hover {
  background-color: #8f9491;
  color: #36213e;
}

.inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
}

.inf h4 {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #36213e;
}

.inf h6, a {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #36213e;
}

.inf a {
  color: #820933;
}

/* programms section */

.programs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ebd4cb;
  padding: 2rem;
}

#learning {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.programs h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
  display: block;
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  color: #36213e;
}

 .description {
   display: flex;
   flex-direction: column;
   margin: 1rem;
   width: 30%;
   background-color: #fdfffc;
   color: #36213e;
   font-family: "Lato", sans-serif;
   line-height: 1.5rem;
 }

 .course-info {
   padding: 1rem;
 }

 .description:hover {
  background-color: #8f9491;
 }

 #learning h2 {
   font-family: "Anton", sans-serif;
   font-size: 1.5rem;
 }

 #learning h3 {
   margin: .5rem 0;
 }

 #learning img {
   width: 100%;
   height: auto;
 }

 /* thesis section */
 .thesis {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  background-color: #fdfffc;
 }

.thesis h1 {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  width: 100%;
  color: #36213e;
}

#thesis-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

 .thesis video {
   width: 100%;
   height: auto;
   background-color: #e8d7ff;
 }

.left-side {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem;
}

.left-side h4 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

 .fisma {
   display: flex;
   flex-direction: column;
   margin: 2rem 1.5rem;
   width: 40%;
 }

 .story {
   display: flex;
   width: 100%;
   border: 1px solid #e8d7ff;
   align-items: center;
 }

 .story:hover {
   background-color: #8f9491;
   color: #36213e;
 }

 .story img {
   width: 35%;
   height: 100%;
   margin: 1rem;
 }

 .story div {
   width: 65%;
 }

 .story h4, .left-side h4 {
   font-family: "Anton", sans-serif;
   font-size: 1.5rem;
   color: #36213e;
 }

 .story h6, .left-side p {
   font-family: "Lato", sans-serif;
   font-size: 1rem;
   color: #36213e;
 }

 /* footer section  */

footer {
  padding: 1rem 1.5rem;
  display: flex;
  background-color: #820933;
  height: 2rem;
  font-size: 1rem;
  color: #fdfffc;
}

footer p {
  flex-grow: 1;
}

footer span {
  margin-left: 1rem;
  color: #fdfffc;
}

footer a {
  text-decoration: none;
}

footer span:hover {
  color: #8f9491;
  text-decoration-color: #8f9491;
  text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 480px), (max-width: 768px) {
  #container {
    max-width: auto;
    padding: 1rem;
  }
}


@media only screen and (max-width: 480px), (max-width: 768px) {
  header .mobile-icons {
    display: block;
  }

  header ul, header span, header strong {
    display: none;
  }

  header {
    width: auto;
    justify-content: space-between;
    height: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    position: static;
  }

  header img {
    width: 2rem;
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .banner h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px), (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner div {
    width: 90%;
    height: auto;
    padding: 0 1rem;
  }

  .banner img {
    width: 100%;
    margin: 0;
  }

  .banner h1, .banner h3 {
    display: flex;
    padding: 0 1rem;
    text-align: left;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    text-align: center;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 480px), (max-width: 768px) {
  .orientation {
    padding: 0;
  }

  .orientation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-column {
    display: none;
  }

  .second-column {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }

  .second-column img {
    display: none;
  }

  .orientation-info .orientation-mobile {
    display: block;
    width: 90%;
    height: auto;
    margin: 1rem;
  }

  .inf h4 {
    display: block;
  }
  .inf {
    padding: 1rem;
    width: 90%;
    height: auto;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .programs {
    padding: 2rem 1rem;
  }
  .description {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .programs {
    padding: 2rem 1rem;
  }
  .description {
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  .description img, h3, h4 {
    display: none;
  }

  .programs {
    padding: 1rem;
  }

  .programs h1 {
    margin: 1rem;
  }

  #learning {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .description {
    width: 90%;
  }
}

@media only screen and (max-width: 480px), (max-width: 768px) {

  #thesis-content, .thesis {
    padding: 0;
    margin: 0;
  }

  .fisma {
    display: none;
    width: 0;
  }

  .left-side h4, p {
    display: none;
  }

  video {
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .left-side {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .thesis h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}


@media only screen and (max-width: 480px), (max-width: 768px) {
  footer a, span {
    display: none;
  }

  footer {
    padding: 1rem;
  }

  footer p {
    display: block;
  }
}
