html {
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'Lato', sans-serif;
}


/* header section */
header {
  background-color: #820933;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-family: "Anton", sans-serif;
}

header img {
  height: 2.5rem;
  color: #fdfffc;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  font-size: 1.5rem;
  color: #fdfffc;
}

header strong {
  font-weight: bold;
}

header ul li {
  display: inline;
  color: #fdfffc;
  margin-left: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;

}

/* banner section  */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e8d7ff;
}

.banner img {
  width: 60%;
  height: 100%;
  margin: 2rem 1.5rem;
}

.banner div {
  margin: 2rem 1.5rem;
}
.banner h1 {
  font-size: 3rem;
  font-family: "Anton", sans-serif;
  margin-bottom: 1.5rem;
  color: #36213e;
}
.banner h3 {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem;
  color: #36213e;
}
.banner h4 {
  background-color: #820933;
  text-align: center;
  padding: .5rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem;
  color: #fdfffc;
  font-size: 1.25rem;
}
.banner h4:hover {
  background-color: #fe5f55;
  font-weight: bold;
  color: #820933;

}


/* orientation section */

.orientation {
  display: flex;
  background-color: #fdfffc;
  width: auto;
}

.orientation .first-column {
  width: 60%;
  height: 100%;
  margin: 2rem 1.5rem;
}
.first-column h2 {
  font-family: "Anton", sans-serif;
  color: #36213e;
  font-size: 2.5rem;
  padding-top: 2rem;
}
.first-column img {
  width: 100%;
  height: auto;
}

.first-column p {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  color: #36213e;
  padding: 1.5rem 0;
}

.first-column h4 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #36213e;
}

.first-column, .second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.second-column img {
  width: 35%;
  height: 100%;
  margin: 2rem 1rem;
}
.second-column {
  padding: 0 1rem;
  border-left: 1px solid #e8d7ff;
  width: 40%;
  height: auto;
}
.orientation-info {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e8d7ff;
}
.orientation-info:hover {
  background-color: #fe5f55;
  color: #36213e;
}
.inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
.inf h4 {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
}
.inf h6, a {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #36213e;
}

/* programms section */

.programs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e8d7ff;
  padding: 2rem 4.5rem;
}
#learning {
  display: flex;
  flex-flow: row wrap;

}
.programs h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
  display: block;
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  color: #36213e;
}
 .course {
   display: flex;
   flex-direction: column;
   margin: 1rem;
   width: 30%;

 }
 .course div {
   background-color: #fdfffc;
   color: #36213e;
   font-family: "Lato", sans-serif;
   line-height: 1.5rem;
   padding: 1rem 1.5rem 1.5rem 1rem;
   width: 90%;
   height: 90%;
 }
 .course h2 {
   font-family: "Anton", sans-serif;
   font-size: 1.5rem;
 }
 .course h3 {
   margin: .5rem 0;
 }

 .course img {
    width: 100%;
    height: auto;
  }

 /* thesis section */
 .thesis {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  background-color: #fdfffc;
 }
.thesis h1 {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  /* margin-bottom: 2rem; */
  width: 100%;
  color: #36213e;
}
#thesis-content {
  display: flex;
  width: 100%;
  justify-content: center;
}
 .thesis video {
   width: 100%;
   height: auto;
   background-color: #e8d7ff;
 }
.left-side {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem;
}
.left-side h4 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

 .fisma {
   display: flex;
   flex-direction: column;
   margin: 2rem 1.5rem;
   width: 40%;
   /* justify-content: space-between; */
 }
 .story {
   display: flex;
   width: 100%;
   border-bottom: 1px solid #e8d7ff;
   align-items: center;
 }
 .story:hover {
   background-color: #fe5f55;
   color: #36213e;
 }

 .story img {
   width: 35%;
   height: 100%;
   margin: 1rem;
 }

 .story div {
   width: 65%;
 }

 .story h4, .left-side h4 {
   font-family: "Anton", sans-serif;
   font-size: 1.5rem;
   color: #36213e;
 }
 .story h6, .left-side p {
   font-family: "Lato", sans-serif;
   font-size: 1rem;
   color: #36213e;
 }

 /* footer section  */
footer {
  padding: 1rem 1.5rem;
  display: flex;
  /* justify-content: space-between; */
  background-color: #820933;
  height: 2rem;
  font-size: 1rem;
  color: #fdfffc;
}
footer p {
  flex-grow: 1;
}
footer span {
  margin-left: 1rem;
}
